@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --headline-color: white;
  --background-color: #11151c;
  --text-color: rgb(255, 255, 255);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  text-align: center;
  box-sizing: border-box;
}

.canvas-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#text-behind,
#text-front,
#text-behind-blur {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  text-align: center;
  font-size: clamp(24px, 20vw, 200px);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 0.8;
}

#text-behind {
  color: var(--headline-color);
  z-index: 1;
}

#text-behind-blur {
  color: var(--headline-color);
  filter: blur(7.5px);
  -webkit-filter: blur(7.5px);
  z-index: 0;
}

#text-front {
  /*  Set text-color to transparent to only show the outline  */
  color: transparent;
  text-stroke: 3px var(--headline-color);
  -webkit-text-stroke: 3px var(--headline-color);
  z-index: 3;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5%;
  height: 85%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
}

.title,
.subtitle {
  font-size: 0.6rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
}

.subtitle {
  padding-top: 80vh;
  padding-bottom: 1vh;
}

.socials a {
  margin: 0 5px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.socials a:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 1));
}

p {
  width: 300px;
  font-size: 0.75rem;
}

a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.features-container {
  margin-top: 100vh;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#ff674d, #c74b9b, #3c5bcc, #2e5a5b);
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.feature-one,
.feature-two,
.feature-three {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 75vh;
  width: 24vw;
  margin: 0 1vw;
  background-color: var(--background-color);
  border-radius: 2vw;
  border: 3px solid black;
}

.feature-one:hover,
.feature-two:hover,
.feature-three:hover {
  transform: scale(1.05);
  border: 3px solid white;
}

#feature-title {
  margin-bottom: 0px;
  padding: 0 30px;
  text-align: left;
  font-size: 48px;
  line-height: 1.2;
}

#feature-description {
  margin-top: 15px;
  padding: 0 30px;
  text-align: left;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
}

#feature-one-img,
#feature-two-img,
#feature-three-img {
  width: 65%;
  height: auto;
  margin: auto auto 6vh;
}

#feature-two-img {
  width: 60%;
  margin-bottom: 4vh;
}

#feature-three-img {
  width: 55%;
  margin-bottom: 4vh;
}

.timeline-container {
  height: 100vh;
  width: 100vw;
  background: black;
  overflow-x: scroll;
}

.phases {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.phase-one,
.phase-two,
.phase-three,
.phase-four {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 42vh;
  width: 40vw;
  margin: 0 5vw;
  background: linear-gradient(#ff674d, #c74b9b, #3c5bcc, #2e5a5b);
  border-radius: 2vw;
  border: 3px solid black;
}

.header {
  width: 100%;
  padding: 30px 30px 15px;
}

.header p {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
}

.header h1 {
  margin: 0px;
  text-align: left;
  font-size: 48px;
  line-height: 1.2;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
  gap: 20px;
}

.activity {
  display: flex;
  flex: 1 1 calc(50% - 20px);
  align-items: center;
  justify-content: left;
  height: 9vh;
}

@keyframes shadow-animation {
  0% {
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 1));
  }
  50% {
    filter: none;
  }
  100% {
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 1));
  }
}

.activity a {
  width: 60px;
  color: white;
  cursor: pointer;
  animation: shadow-animation 2s infinite;
}

.fa-lightbulb {
  transform: scale(3.5);
}

.fa {
  transform: scale(3);
}

.activity-description span {
  width: 65%;
  text-align: left;
}

#activity-title {
  font-size: 20px;
}

#activity-subtitle {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.75);
}

#activity-title,
#activity-subtitle {
  width: 90%;
  margin: 0 0 0 20px;
  text-wrap: wrap;
}

.backers-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(360deg, #ff674d, #c74b9b, #3c5bcc, #2e5a5b);
}
