/* MAIN CSS FILE CONFIG */
/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --headline-color: white;
  --background-color: #11151c;
  --text-color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  text-align: center;
  box-sizing: border-box;
}

/* Define propoerties for canvas elements */
canvas {
  width: 100vw;
  height: 100vh;
}

.canvas-container {
  margin-top: 0;
  height: 100vh;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.canvas2-container {
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* Navigation bar properties */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  background-color: #11151c;
}

.logo-section {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 0 5vw;
}

#logo-image {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

#logo-placeholder {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu-section {
  display: flex;
  justify-content: right;
  width: 50%;
}

.navigation-buttons ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5vw;
  gap: 30px;
  list-style: none;
}

.navigation-buttons ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navigation-buttons a:hover {
  color: white;
}

#buy-now-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  border: 2px solid gray;
  background: #11151c;
  color: white;
  cursor: pointer;
}

#buy-now-button:hover {
  border: 2px solid white;
  background: linear-gradient(90deg, #ff674d, #c74b9b, #3c5bcc);
}

#buy-now-button p {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  letter-spacing: 1px;
}

/* Navigation bar for smaller devices */
.menu-section-column {
  position: absolute;
  top: 10vh;
  z-index: 4;
  display: none;
  opacity: 0.95;
}

.navigation-buttons-column {
  display: none;
}

.navigation-buttons-column ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-buttons-column ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  background: #11151c;
}

.navigation-buttons-column ul li:hover {
  background: linear-gradient(90deg, #ff674d, #c74b9b, #3c5bcc);
}

.navigation-buttons-column ul li a {
  color: white;
  width: 100%;
}

.navigation-buttons-column ul li:last-child {
  background: linear-gradient(90deg, #ff674d, #c74b9b, #3c5bcc);
  font-weight: bold;
}

.expand-navigation-icon {
  height: 40px;
  width: 40px;
  margin-right: 5vw;
  margin-left: auto;
  display: none;
  overflow: hidden;
  transition: none;
}

#bars-icon {
  transform: scale(1.5);
  color: white;
}

#close-icon {
  transform: scale(1.7);
  color: white;
}

/* HERO SECTION */
.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 5%;
  pointer-events: none;
}

#text-behind,
#text-front,
#text-behind-blur {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  text-align: center;
  font-size: clamp(24px, 25vw, 200px);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 0.8;
}

#text-behind {
  color: var(--headline-color);
  z-index: 1;
}

#text-behind-blur {
  color: var(--headline-color);
  filter: blur(7.5px);
  -webkit-filter: blur(7.5px);
  z-index: 0;
}

#text-front {
  color: transparent;
  -webkit-text-stroke: 3px var(--headline-color);
  z-index: 3;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5%;
  height: 85%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
}

.title,
.subtitle {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
}

.title {
  margin-top: 10vh;
}

.subtitle {
  margin-top: 70vh;
  padding-bottom: 1vh;
}

.socials a {
  margin: 0 8px;
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}

.socials a:hover {
  transform: scale(1.5);
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 1));
}

p {
  width: 300px;
  font-size: 0.75rem;
}

a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

/* FEATURES SECTION */
.features-container {
  margin-top: 93vh;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#ff674d, #c74b9b, #3c5bcc);
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.feature-one,
.feature-two,
.feature-three {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 75vh;
  width: 24vw;
  margin: 0 1vw;
  background-color: var(--background-color);
  border-radius: 2vw;
  border: 3px solid black;
}

.feature-one:hover,
.feature-two:hover,
.feature-three:hover {
  transform: scale(1.05);
  border: 3px solid white;
}

#feature-title {
  margin-bottom: 0px;
  padding: 0 30px;
  text-align: left;
  font-size: 48px;
  line-height: 1.2;
}

#feature-description {
  margin-top: 15px;
  padding: 0 30px;
  text-align: left;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
}

#feature-description b {
  opacity: 1;
}

#feature-one-img,
#feature-two-img,
#feature-three-img {
  width: 65%;
  height: auto;
  margin: auto auto 6vh;
  animation: shadow-animation 2s infinite;
}

#feature-two-img {
  width: 60%;
  margin-bottom: 4vh;
}

#feature-three-img {
  width: 55%;
  margin-bottom: 4vh;
}

/* ROADMAP SECTION */
.timeline-container {
  max-height: 100vh;
  width: 100vw;
  background: transparent;
}

.phases {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  max-height: 100vh;
}

.phase-one,
.phase-two,
.phase-three,
.phase-four {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 42vh;
  width: 40vw;
  margin-left: 30vw;
  margin-bottom: 15vh;
  background: linear-gradient(#ff674d, #c74b9b, #3c5bcc);
  border-radius: 2vw;
  z-index: 2;
}

.header {
  width: 100%;
  padding: 30px 30px 15px;
}

.header p {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
}

.header h1 {
  margin: 0px;
  text-align: left;
  font-size: 48px;
  line-height: 1.2;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
  gap: 20px;
}

.activity {
  display: flex;
  flex: 1 1 calc(50% - 20px);
  align-items: center;
  justify-content: left;
  height: 9vh;
}

/* BUY SECTION */
.buy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  height: 100vh;
}

.details-section {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 50vw;
}

#launch-placeholder {
  width: 390px;
  margin: 0;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  background: #11151c;
  border: 1px solid gray;
  border-radius: 20px;
  text-wrap: nowrap;
  opacity: 0.7;
}

#launch-title-placeholder {
  width: 100%;
  margin: 20px 0;
  padding: 0;
  font-size: 50px;
  text-align: left;
  line-height: 50px;
  background: linear-gradient(to right, #ff674d, #c74b9b, #3c5bcc);
  background-clip: text;
  --webkit-text-fill-color: transparent;
  --webkit-background-clip: text;
  color: transparent;
}

#title-no-gradient {
  background: none;
  color: white;
}

#launch-subtitle-placeholder {
  width: 80%;
  margin: 0 0 20px;
  font-size: 15px;
  text-align: justify;
  opacity: 0.7;
  line-height: 24px;
}

.launch-buttons {
  display: flex;
  justify-items: left;
}

.launch-buttons a {
  width: 100px;
  margin-right: 20px;
  padding: 10px;
  background-color: blue;
  border: 2px solid black;
  border-radius: 20px;
  background: #11151c;
  border: 2px solid gray;
  color: white;
}

.launch-buttons a:hover {
  border: 2px solid white;
  background: linear-gradient(90deg, #ff674d, #c74b9b, #3c5bcc);
}

.buy-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 73vh;
  width: 24vw;
  border-radius: 20px;
  background: linear-gradient(360deg, #ff674d, #c74b9b, #3c5bcc);
}

#buy-header {
  font-size: 20px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: 12vh;
  width: 90%;
  border-radius: 20px;
  background-color: #11151c;
}

.days h5,
.hours h5,
.minutes h5,
.seconds h5 {
  opacity: 0.7;
}

h2,
h4,
h5,
h6 {
  margin: 0;
}

.total-raised {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.cap-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.cap-progress p {
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
}

#current-cap {
  font-weight: bold;
}

#cap-separator {
  padding: 0 5px;
  opacity: 0.7;
}

#max-cap {
  opacity: 0.7;
}

.progress-bar {
  margin-top: 10px;
  height: 3vh;
  width: 90%;
  background-color: white;
  border-radius: 8px;
}

.progress-bar-filled {
  height: 100%;
  width: 80%;
  background-color: #11151c;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#purchased-placeholder,
#stakeable-placeholder {
  margin: 10px 0 5px;
  font-size: 12px;
}

.token-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#token-price {
  font-size: 20px;
  margin: 10px 0 10px;
}

#token-price-line-left,
#token-price-line-right {
  width: 40%;
  border: 0.5px solid white;
  opacity: 0.5;
}

.currencies {
  width: 100%;
  height: 5.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.mvx-currency,
.usdt-currency,
.usdc-currency {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27%;
  height: 100%;
  color: white;
  background-color: #11151c;
  border: 2px solid #11151c;
  border-radius: 20px;
}

.mvx-currency:hover,
.usdt-currency:hover,
.usdc-currency:hover {
  border: 2px solid white;
}

.currency-icon-container {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.mvx-currency p,
.usdt-currency p,
.usdc-currency p {
  margin: 0;
  padding: 0;
  width: 45%;
  font-size: 14px;
  letter-spacing: 0.7px;
}

.mvx-container {
  background-color: black;
}

.usdt-container {
  background-color: #58b197;
}

.usdc-container {
  background-color: #2276cb;
}

#currency-icon {
  margin: auto;
}

.purchase-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 15%;
}

#purchase-placeholder {
  margin: 0;
  font-size: 12px;
}

.selected-currency,
.neko-equivalent {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
  height: 80%;
}

.selected-currency-box,
.neko-equivalent-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
  padding: 10px;
  height: 70%;
  border-radius: 30px;
  background-color: white;
  overflow: hidden;
}

#currency-value,
#neko-value {
  height: 100%;
  width: 80%;
  border: none;
}

#selected-currency-icon {
  height: 100%;
  width: 20%;
  transform: scale(1.5);
}

/* Hide spinners in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Hide spinners in other browsers */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  font-size: 15px;
}

input[type='number']:focus {
  outline: none;
}

.connect-wallet-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 90%;
  margin: 1vh 0;
  background-color: #11151c;
  border: 2px solid #11151c;
  border-radius: 30px;
  animation: shadow-animation 2s infinite;
}

.connect-wallet-button:hover {
  border: 2px solid white;
}

#connect-wallet-placeholder {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

/* FOOTER SECTION */
.footer-container {
  height: 62vh;
  width: 100vw;
  padding-top: 0.5vh;
  background: linear-gradient(#ff674d, #c74b9b, #3c5bcc);
}

.footer-section {
  display: flex;
  gap: 5vw;
  margin: 0 5vw;
}

.footer-column-one,
.footer-column-two,
.footer-column-three {
  height: 30vh;
  width: 30vw;
  justify-content: left;
}

#logo-placeholder {
  width: 100%;
}

#footer-text {
  display: flex;
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

#social-placeholder {
  width: 100%;
  text-align: left;
  margin: 24px 0 22px;
  font-size: 26px;
  font-weight: bold;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-link {
  margin-right: auto;
  padding: 0 0 8px;
  text-decoration: underline;
  transition: none;
}

#footer-link:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#copyright-placeholder {
  width: 100%;
  text-align: left;
  margin: 30px 0;
  font-size: 16px;
}

/* Keyframe for shadow animation */
@keyframes shadow-animation {
  0% {
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 1));
  }
  50% {
    filter: none;
  }
  100% {
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 1));
  }
}

.activity a {
  width: 60px;
  color: white;
  cursor: pointer;
  animation: shadow-animation 2s infinite;
}

.fa-lightbulb {
  transform: scale(3.5);
}

.fa {
  transform: scale(3);
}

.activity-description span {
  width: 65%;
  text-align: left;
}

#activity-title {
  font-size: 20px;
}

#activity-subtitle {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.75);
}

#activity-title,
#activity-subtitle {
  width: 90%;
  margin: 0 0 0 20px;
  text-wrap: wrap;
}

.partners-container {
  height: 43vh;
  width: 100vw;
  padding-top: 30vh;
  background: linear-gradient(360deg, #ff674d, #c74b9b, #3c5bcc, #2e5a5b);
}

/* RESPONSIVE DESIGN */
@media (max-width: 475px) {
  .menu-section {
    display: none;
  }

  .navigation-buttons-column {
    display: block;
  }

  .expand-navigation-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bars-icon,
  #close-icon {
    position: absolute;
  }

  #close-icon {
    display: none;
  }
  .features-container {
    margin-top: 90vh;
    height: 155vh;
  }

  .features {
    height: 100%;
    transform: scale(0.8);
    display: flex;
    flex-direction: column;
  }

  .feature-one,
  .feature-two,
  .feature-three {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 60vh;
    border-radius: 20px;
    margin-bottom: 4vh;
  }

  .canvas2-container {
    top: 315%;
    height: 120vh;
    width: 100%;
  }

  .phases {
    padding-top: 2vh;
  }

  .phase-one,
  .phase-two,
  .phase-three,
  .phase-four {
    display: flex;
    flex-direction: column;
    transform: scale(0.8);
    width: 88vw;
    height: 64vh;
    border-radius: 20px;
    padding-bottom: 3vh;
  }

  .phase-one {
    margin-left: 6vw;
  }

  .activities {
    width: 75%;
  }

  .partners-container {
    height: 32vh;
    padding-top: 17vh;
  }

  .buy-container {
    height: 135vh;
    flex-direction: column;
  }
  .details-section {
    height: 55vh;
    width: 88vw;
  }
  #launch-placeholder {
    width: 70vw;
    text-wrap: wrap;
  }
  #launch-title-placeholder {
    font-size: 45px;
  }
  #launch-subtitle-placeholder {
    width: 90%;
  }
  .buy-section {
    width: 88vw;
    height: 66vh;
  }
  .footer-container {
    height: 90vh;
  }
  .footer-section {
    flex-direction: column;
    height: 70vh;
    gap: 0vw;
  }
  .footer-column-one,
  .footer-column-two,
  .footer-column-three {
    width: 88vw;
  }
}
