.footer-container {
  height: 280px;
  width: 100vw;
  padding-top: 20px;
  background: linear-gradient(#ff674d, #c74b9b, #3c5bcc);
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 60px;
}

.footer-column-one,
.footer-column-two,
.footer-column-three {
  height: 30vh;
  width: 30vw;
  justify-content: left;
}

.footer-column-one {
  margin: 0 clamp(40px, 5vw + 10px, 80px);
}

.logo-placeholder {
  width: 100%;
}

.footer-text {
  display: flex;
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  font-size: clamp(0.825rem, -2.475rem + 3vw, 1.2rem);
  line-height: clamp(1rem, -2.475rem + 3vw, 1.4rem);
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link {
  margin-right: auto;
  padding: 0 0 8px;
  text-decoration: none;
  transition: none;
  font-size: clamp(0.825rem, -2.475rem + 3vw, 1.2rem);
  line-height: clamp(1rem, -2.475rem + 3vw, 1.4rem);
  color: var(--text-color);
}

.footer-link:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.copyright-placeholder {
  width: 100%;
  text-align: left;
  margin: 30px 0;
  font-size: clamp(0.825rem, -2.475rem + 3vw, 1.2rem);
  line-height: clamp(1rem, -2.475rem + 3vw, 1.4rem);
  text-wrap: 2;
}

@media (max-width: 800px) {
  .footer-section {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
  }
  .footer-column-one {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .footer-container {
    height: 540px;
  }
  .footer-section {
    margin: 0 70px;
    grid-template-columns: 2fr 1fr;
    row-gap: 0;
    column-gap: 40px;
  }
  .footer-column-one {
    margin-right: 40px;
  }
  .footer-column-three {
    margin-left: clamp(40px, 5vw + 10px, 80px);
  }
}

@media (max-width: 500px) {
  .footer-container {
    height: 480px;
  }
  .footer-section {
    grid-template-columns: 1fr 1fr;
  }
  .footer-column-one {
    grid-column: span 2;
    width: 90%;
    height: 200px;
    margin-left: 0;
  }
}
